html, body{
	margin: 0;
	height: 100%;
}

*{
	box-sizing: border-box;
}

.meniu1 {
	width: 100%;
	height: 100px;
	background-color: #ffffff;
	position: absolute;
	top:0;
	left:0;
	z-index:101;
	box-shadow: 1px 3px 9px 0 rgba(0, 0, 0, 0.16);
	position: fixed;
}
.meniu1 .logo {
	width: 20%;
	height: 100%;
	padding-left: 20px;
}

.logo img {
	cursor: pointer;
}
.meniu1 .meniu-pasirinkimai {
	width: 46.67%;
	height: 100%;
	justify-content: center;

}
.meniu1 .meniu-pasirinkimai > ul > li {
	list-style-type:none;
	display: inline;
	margin-right: 45px;
	color: #666666;
	font-family: 'Exo 2', sans-serif;
}
.meniu-pasirinkimai > ul > li > a {
	color: #666666;
	text-decoration: none;
}
.meniu-pasirinkimai > ul > li > a:hover {
	color: #38BAEE;
}
.meniu1 .paieska > button {
	width: 25px;
	height: 25px;
	margin: 0;
}
.meniu .paieska > input {
	width: 25px;
	height: 25px;
	margin: 0;
}
.meniu1 .paieska {
	width: 33.33%;
	height: 25px;
	justify-content: flex-end;
	padding-right: 60px;	
}
.meniu1 .paieska,
.meniu1 .meniu-pasirinkimai,
.meniu1 .logo {
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
}

/*virsaus pabaiga*/

/* antro meniu pradzia---------------------------------------------------------------------------*/

.meniu2 {
	height: 100%;
	width: 70px;
	background-color: #38BAEE;
	position: fixed;
	transition: .3s ease-in;
	padding-top: 90px;
	z-index: 100;	
}
.sticky {
	top:0;
}
.show-box {
	width: 300px;
}
.kontaktai {
	width: 100%;
	height: 50px;
	margin-top: 30px;
}
.klausimai {
	width: 100%;
	height: 50px;
	margin-top: 30px;	
}
.darzelis {
	width: 100%;
	height: 50px;
	margin-top: 30px;
		
}
.paslaugos {
	width: 100%;
	height: 50px;
	margin-top: 30px;			
}
.demokratija {
	width: 100%;
	height: 50px;
	margin-top: 30px;		
}
.apklausa {
	width: 100%;
	height: 50px;
	margin-top: 30px;			
}
.netikslumai {
	width: 100%;
	height: 50px;
	margin-top: 30px;			
}
.meniu2 p {	
	width: 250px;
	padding-left: 40px;
	transition: .1s ease-in;	
	opacity: 0;
	visibility: hidden;	
}
.meniu2 svg {
	float: left;
}
.meniu2 .rodyti-kontaktus {
	opacity: 1;
	visibility: visible;
	transition: .7s ease-in;
}
.icona1 {
	width: 100%;
	height: 70px;
	float: left;
	padding-left: 20px;
	position: relative;
	padding-top: 30px;
	color: white;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}
.meniu2 p a {
	color: white;
	text-decoration: none;
}
.meniu2 p a:hover{
	color: grey;
}
.svg-inline--fa.fa-w-12{
	width: 1em;
}
.svg-inline--fa.fa-w-20{
	width: 1em;
}

/*pagrindinis paveiksliukas----------------------------------------------------------------------------*/

.pagrindinis-paveikslas {
	width: 100%;
	height: 100%;
	background-image: url(https://g1.dcdn.lt/images/pix/klaipeda-75713217.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.image1 .tekstas {

	width: 100%;
	position: absolute;
    top: 420px;
   /* right: 340px;*/
    text-align: center;
    margin:0 auto;
}
.mazas > p {
	color: white;
	font-size: 45px;
	margin:0;
	text-shadow: 0 0 27px rgba(0, 0, 0, 0.14);
}
.didelis > p {
	color: white;
	font-size: 70px;
	margin: 0;
	text-shadow: 0 0 27px rgba(0, 0, 0, 0.14);
}
.didelis .mazas {
	flex-wrap: wrap;
	font-weight: 300;   
}

/*NAUJIENOS--------------------------------------------------------------------------------------*/

.naujienos {
	width: 100%;
	padding-left: 70px;


}
.naujienos > a {
	color: #666666;
	text-decoration: none;
	display: block;
	text-align: right;
	padding-right: 120px;
}
.naujienos > a:hover {
	color: #38BAEE;
}
.naujienos > h1 {
	padding-left: 70px; 
	padding-top: 50px;
}

.langas1 {
	width: 370px;
	height: 450px;
	margin-left: 70px;	
	flex-wrap: wrap;
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.14);	
	transition: 0.3s;
	cursor: pointer;
	
	
}

.langas1:hover {
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.8);	
	background-color: #D0EFFB;
}


.langas1-image {
	width: 100%;
	height: 50%;
	margin:0;
	background-size: cover;
	background-position: center center;
}

.langas1-image img {
	width: 100%;
	height: 100%;
}



.langas1-aprasas {
	width: 100%;
	height: 50%;
	margin:0;	
}

.langas1-aprasas > h3 {
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	line-height: 29px;
	text-align: center;
}

.langas1-aprasas > p {
	margin-left: 30px;
}
/*NAUJIENOS LANGAS 2-----------------------------------------------------------------------------------------*/
.langas2 {
	width: 370px;
	height: 450px;
	margin-left: 70px;
	flex-wrap: wrap;
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.14);	
	transition: 0.3s;
	cursor: pointer;
}
.langas2:hover {
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.8);	
	background-color: #D0EFFB;
}

.langas2-image {
	width: 100%;
	height: 50%;
	margin:0;
	background-size: cover;
	background-position: center center;
}
.langas2-image img {
	width: 100%;
	height: 100%;
}
.langas2-aprasas {
	width: 100%;
	height: 50%;
	margin:0;	
}
.langas2-aprasas > h3 {
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	line-height: 29px;
	text-align: center;
}
.langas2-aprasas > p {
	margin-left: 30px;
	margin-right: 0px;
}
/*NUAJIENOS LANGAS 3-------------------------------------------------------------------------------------------------*/
.langas3 {
	width: 370px;
	height: 450px;
	margin-left: 70px;
	flex-wrap: wrap;
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.14);	
	transition: 0.3s;
	cursor: pointer;
}
.langas3:hover {
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.8);	
	background-color: #D0EFFB;
}

.langas3-image {
	width: 100%;
	height: 50%;
	margin:0;
	background-size: auto auto;
	background-position: center center;
}
.langas3-image img {
	width: 100%;
	height: 100%;
}

.langas3-aprasas {
	width: 100%;
	height: 50%;
	margin:0;	
}
.langas3-aprasas > h3 {
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	line-height: 29px;
	text-align: center;
}
.langas3-aprasas > p {
	margin-left: 30px;
	margin-right: 30px;
}


.langas1,
.langas2,
.langas3 {
	margin-bottom: 20px;
	display: inline-flex;
}


/*SKELBIMAI------------------------------------------------------------------------------------------*/

.skelbimai {
	width: 100%;
	padding-left: 70px;

}
.skelbimai > a {
	color: #666666;
	text-decoration: none;
	display: block;
	text-align: right;
	padding-right: 120px;
}
.skelbimai > a:hover {
	color: #38BAEE;
}

.skelbimai > h1 {
	padding-left: 70px; 
	padding-top: 50px;
}

.langas4 {
	width: 370px;
	height: 410px;
	margin-left: 70px;
	flex-wrap: wrap;
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.14);	
	transition: 0.3s;
	cursor: pointer;
}

.langas4:hover {
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.8);	
	background-color: #D0EFFB;
}

.langas4-image {
	width: 100%;
	height: 50%;
	margin:0;
	background-size: auto auto;
	background-position: center center;
}

.langas4-image img {
	width: 100%;
	height: 100%;

}

.langas4-aprasas {
	width: 100%;
	height: 50%;
	margin:0;	
}
.langas4-aprasas > h3 {
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	line-height: 29px;
	text-align: center;
}

.langas4-aprasas > p {
	margin-left: 30px;
	margin-right: 30px;
}




/*SKELBIMAI LANGAS 5-------------------------------------------------------------------------------------*/
.langas5 {
	width: 370px;
	height: 410px;
	margin-left: 70px;
	flex-wrap: wrap;
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.14);	
	transition: 0.3s;
	cursor: pointer;
}

.langas5:hover {
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.8);	
	background-color: #D0EFFB;
}

.langas5-image {
	width: 100%;
	height: 50%;
	margin:0;
	background-size: auto auto;
	background-position: center center;
}

.langas5-image img {
	width: 100%;
	height: 100%;
}

.langas5-aprasas {
	width: 100%;
	height: 50%;
	margin:0;	
}
.langas5-aprasas > h3 {
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	line-height: 29px;
	text-align: center;
}

.langas5-aprasas > p {
	margin-left: 30px;
	margin-right: 30px;
}


/*SKELBIMAI LANGAS 6 -------------------------------------------------------------------------------------*/
.langas6 {
	width: 370px;
	height: 410px;
	margin-left: 70px;
	flex-wrap: wrap;
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.14);	
	transition: 0.3s;
	cursor: pointer;
}

.langas6:hover {
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.8);	
	background-color: #D0EFFB;
}

.langas6-image {
	width: 100%;
	height: 50%;
	margin:0;
	background-size: auto auto;
	background-position: center center;
}

.langas6-image img {
	width: 100%;
	height: 100%;
}

.langas6-aprasas {
	width: 100%;
	height: 50%;
	margin:0;	
}
.langas6-aprasas > h3 {
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	line-height: 29px;
	text-align: center;
}

.langas6-aprasas > p {
	margin-left: 30px;
	margin-right: 30px;
}

.langas4,
.langas5,
.langas6 {
	
	margin-bottom: 20px;
	display: inline-flex;
}

/*REKLAMA----------------------------------------------------------------------------------------*/

.reklama {
	width: 100%;
	/*height: 200px;*/
	margin-top: 50px;
	
}
.reklama .gif {
	width: 1000px;
	height: 140px;
	margin-left: 19%;
	background-image: url(../images/klp-miesto-savivaldybe-gif-1160x150px.gif);
	cursor: pointer;
}

/*ARTIMIAUSI RENGINIAI----------------------------------------------------------------------------*/

.artimiausi-renginiai {
	width: 100%;
	height: 650px;

}

.artimiausi-renginiai > h1 {
	padding-left: 12%; 
	padding-top: 50px;
	margin: 0;
}
/*---------------------------------------------------------------------------------------*/

.kalendorius {
	width: 1100px;
	height: 410px;
	 background: linear-gradient(to right, #00d2ff, #928dab);
	margin-left: 9%;
	margin-top: 50px;
	position: absolute;
	z-index: -1;
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.3);
	border-radius: 25px;
}

.kalendorius1{
	width: 50%;
	height: 100%;

}
.month {
    padding: 70px 25px;
    width: 100%;
    /*background: #38BAEE;*/
    text-align: center;

}

.month ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    /*background-color: #ddd;*/
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: white;
    text-align: center;

}

.days {
    padding: 10px 0;
    /*background: #eee;*/
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: white;
}

.days li .active {
    padding: 5px;
    background: green;
    color: white !important
}
/*-----------------------------------------------------------------------------*/
.kalendoriaus-sonas {
	width: 650px;
	height: 400px;
	background-color: #FFFFFF;
	margin-left: 49%;
	box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.4);
	position: absolute;
	padding-top: 30px;
	border-radius: 25px;
}
.kalendoriaus-sonas .juosta1 {
	width: 100;
	height: 100px;
	margin: 10px;
	background-color: #F9F9F9;
	cursor: pointer;
	


}
.kalendoriaus-sonas .juosta2 {
	width: 100;
	height: 100px;
	margin:10px;
	background-color: #F9F9F9;
	cursor: pointer;

}
.kalendoriaus-sonas .juosta3 {
	width: 100;
	height: 100px;
	margin:10px;
	background-color: #F9F9F9;
	cursor: pointer;
}
/*-------------------------------------------------------------------------------------*/
.juosta1 .data1 {
	height: 100%;
	width: 20%;
	margin:0;
	flex-wrap: wrap;
}
.data1 .data1-1 {
	width: 100%;
	height: 50%;
	text-align: center;
	margin: 0;
	
}
.data1 .data1-1 h3 {
	font-size: 35px;
	margin: 0;
	margin-top: 10px;
}
.data1 .data1-2 {
	width: 100%;
	height: 50%;
	text-align: center;
}
.data1 .data1-2 p {
	margin: 0;
	margin-top:5px; 
	color:grey;
}

.juosta1 .renginys1 {
	height: 100%;
	width: 80%;
}

.renginys1-1{
	width: 100%;
	height: 50%;
	text-align: center;
	border-bottom: 1px solid black;
}
.renginys1-1 h3 {
	margin:0;
	padding-top: 15px;
}
.renginys1-2{
	width: 100%;
	height: 50%;
	text-align: center;
}
.renginys1-2 p {
	margin: 0;
	padding-top: 10px;
	color: grey;
}


.data1,
.renginys1 {
	float: left;

}
/*------------------------------------------------------------------------------------*/
.juosta2 .data2 {
	height: 100%;
	width: 20%;
	margin:0;
	flex-wrap: wrap;
}
.data2 .data2-1 {
	width: 100%;
	height: 50%;
	text-align: center;
	margin: 0;
	
}
.data2 .data2-1 h3 {
	font-size: 35px;
	margin: 0;
	margin-top: 10px;
}
.data2 .data2-2 {
	width: 100%;
	height: 50%;
	text-align: center;
}
.data2 .data2-2 p {
	margin: 0;
	margin-top:5px; 
	color:grey;
}

.juosta2 .renginys2 {
	height: 100%;
	width: 80%;

}
.renginys2-1{
	width: 100%;
	height: 50%;
	text-align: center;
	border-bottom: 1px solid black;
}
.renginys2-1 h3 {
	margin:0;
	padding-top: 15px;
}
.renginys2-2{
	width: 100%;
	height: 50%;
	text-align: center;
}
.renginys2-2 p {
	margin: 0;
	padding-top: 10px;
	color: grey;
}
.data2,
.renginys2 {
		float: left;
	
}
/*-------------------------------------------------------------------------------------------*/
.juosta3 .data3 {
	height: 100%;
	width: 20%;
	margin:0;
	flex-wrap: wrap;
}
.data3 .data3-1 {
	width: 100%;
	height: 50%;
	text-align: center;
	margin: 0;
	
}
.data3 .data3-1 h3 {
	font-size: 35px;
	margin: 0;
	margin-top: 10px;
}
.data3 .data3-2 {
	width: 100%;
	height: 50%;
	text-align: center;
}
.data3 .data3-2 p {
	margin: 0;
	margin-top:5px; 
	color:grey;
}

.juosta3 .renginys3 {
	height: 100%;
	width: 80%;
}
.renginys3-1{
	width: 100%;
	height: 50%;
	text-align: center;
	border-bottom: 1px solid black;
}
.renginys3-1 h3 {
	margin:0;
	padding-top: 15px;
}
.renginys3-2{
	width: 100%;
	height: 50%;
	text-align: center;
}
.renginys3-2 p {
	margin: 0;
	padding-top: 10px;
	color: grey;
}
.data3,
.renginys3 {
		float: left;
	
}
/*PROJEKTAI------------------------------------------------------------------------------------*/

.projektai {
	width: 100%;
	padding-left: 90px;
	padding-right: 20px;
}
.projektai h1 {
	padding-left: 12%; 
	padding-top: 50px;
}

.pagr-langas {
	width: 100%;
	height: 580px;
    padding-right: 100px;
    padding-left: 40px;
}
/*PROJEKTAI PIRMAS FONAS -----------------------------------------------------------------------------*/
.pirmas-fonas{
	width: 50%;
	height: 50%;
	position: relative;
	overflow: hidden;
	z-index: 15;

	
}
.pirmas-fonas-virsus{
	width: 50%;
	height: 100%;
	background-color: rgba(255, 255, 0, 0.7);
	z-index: 16;
	 position: absolute;
	

}
.pirmas-fonas-virsus svg {
	color: white;
	margin-left: 50px;
    margin-top: 30px;
}
.pirmas-fonas-virsus  h3 {
	color:white;
	text-align: center;
	margin-top: 70px;

}
.pirmas-fonas-virsus  p {
	color:white;
	text-align: center;

}

.pirmas-fonas img {
	width: 100%;
	height: 100%;
	background-size: cover;
	transition: all .2s;
	

}
.pirmas-fonas img:hover{
	transform: scale(1.1);
}
/*PROJEKTAI ANTRAS FONAS-------------------------------------------------------------------------------*/

.antras-fonas{
	width: 50%;
	height: 50%;
	position: relative;
	overflow: hidden;
	z-index: 15;
}
.antras-fonas-virsus{
	width: 50%;
	height: 100%;
	background-color: rgba(128, 128, 128, 0.7);
	z-index: 16;
	 position: absolute;
	
}
.antras-fonas-virsus svg {
	color: white;
	margin-left: 50px;
    margin-top: 30px;
}
.antras-fonas-virsus  h3 {
	color:white;
	text-align: center;
	margin-top: 70px;

}
.antras-fonas-virsus  p {
	color:white;
	text-align: center;

}
.antras-fonas img {
	width: 100%;
	height: 100%;
	background-size: cover;
	transition: all .2s;
}
.antras-fonas img:hover{
	transform: scale(1.1);
}
/*PROJEKTAI TRECIAS FONAS--------------------------------------------------------------------------------*/
.trecias-fonas{
	width: 50%;
	height: 50%;
	position: relative;
	overflow: hidden;
	z-index: 15;
}
.trecias-fonas-virsus{
	width: 50%;
	height: 100%;
	background-color: rgba(56, 186, 238, 0.7);
	z-index: 16;
	 position: absolute;
	  left:50%;
}
.trecias-fonas-virsus svg {
	color: white;
	margin-left: 50px;
    margin-top: 30px;
}
.trecias-fonas-virsus  h3 {
	color:white;
	text-align: center;
	margin-top: 70px;

}
.trecias-fonas-virsus  p {
	color:white;
	text-align: center;

}
.trecias-fonas img {
	width: 100%;
	height: 100%;
	background-size: cover;
	transition: all .2s;
}
.trecias-fonas img:hover{
	transform: scale(1.1);
}
/*PROJEKTAI KETVIRTAS FONAS ---------------------------------------------------------------------------*/
.ketvirtas-fonas{
	width: 50%;
	height: 50%;
	position: relative;
	overflow: hidden;
	z-index: 15;
}
.ketvirtas-fonas-virsus{
	width: 50%;
	height: 100%;
	background-color: rgba(255, 109, 143, 0.7);
	z-index: 16;
	 position: absolute;
	  left:50%;
}
.ketvirtas-fonas-virsus svg {
	color: white;
	margin-left: 50px;
    margin-top: 30px;
}
.ketvirtas-fonas-virsus  h3 {
	color:white;
	text-align: center;
	margin-top: 70px;

}
.ketvirtas-fonas-virsus  p {
	color:white;
	text-align: center;

}
.ketvirtas-fonas img {
	width: 100%;
	height: 100%;
	background-size: cover;
	transition: all .2s;
}
.ketvirtas-fonas img:hover{
	transform: scale(1.1);
}

.pirmas-fonas,
.antras-fonas {
	float: left;
	display: flex;

}

.trecias-fonas,
.ketvirtas-fonas {
	float: left;
	display: flex;
}

/*PAZINKIME KLAIPEDA--------------------------------------------------------------------------------------*/

.pazinkime-klaipeda{
	width: 100%;
	height: 600px;
	background: linear-gradient(to right, #83a4d4, #b6fbff);
}
.pazinkime {
	   margin: 0;
    padding: 0 0 25px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    line-height: 66px;
    text-align: center;
    text-transform: none;
    text-shadow: 0 0 27px rgba(0, 0, 0, 0.14);
}
.pazinkime-klaipeda h2 {
	color: white;
	padding-top: 70px;
}

.zmones {
	width: 220px;
	height: 170px;
	margin-left: 300px;

}

.zmones .skaicius {
	width: 100%;
	height: 70%;
	text-align: center;
	margin:0;

}
.zmones .skaicius h3 {
	font-size: 130px;
	margin:0;
	color: white;
	text-shadow: 0 0 27px rgba(0, 0, 0, 0.14);
}

.zmones .gyvena {
	width: 100%;
	height: 30%;
	margin: 0;
	text-align: center;
}
.zmones .gyvena p {
	margin: 0;
	color: white;
	margin-top: 10px;
	text-shadow: 0 0 27px rgba(0, 0, 0, 0.14);
}
/*--ZMONES PAZINKIME KLAIPEDA---------------------------------------------*/

.zmones1 {
	width: 220px;
	height: 170px;
	margin-left: 30px;
	
}

.zmones1 .skaicius1 {
	width: 100%;
	height: 70%;
	text-align: center;
	margin:0;

}
.zmones1 .skaicius1 h3 {
	font-size: 130px;
	margin:0;
	color: white;
	text-shadow: 0 0 27px rgba(0, 0, 0, 0.14);
}

.zmones1 .gyvena1 {
	width: 100%;
	height: 30%;
	margin: 0;
	text-align: center;
}
.zmones1 .gyvena1 p {
	margin: 0;
	color: white;
	margin-top: 10px;
	text-shadow: 0 0 27px rgba(0, 0, 0, 0.14);
}
/*------ZMONES PAZINKIME KLAIPEDA-----------------------------------------------------------------------------*/

.zmones2 {
	width: 220px;
	height: 170px;
	margin-left: 30px;
	
}

.zmones2 .skaicius2 {
	width: 100%;
	height: 70%;
	text-align: center;
	margin:0;

}
.zmones2 .skaicius2 h3 {
	font-size: 130px;
	margin:0;
	color: white;
	text-shadow: 0 0 27px rgba(0, 0, 0, 0.14);
}

.zmones2 .gyvena2 {
	width: 100%;
	height: 30%;
	margin: 0;
	text-align: center;
}
.zmones2 .gyvena2 p {
	margin: 0;
	color: white;
	margin-top: 10px;
	text-shadow: 0 0 27px rgba(0, 0, 0, 0.14);
}
/*-----ZMONES PAZINKIME KLAIPEDA--------------------------------------------------------------------------------------*/
.zmones3 {
	width: 220px;
	height: 170px;
	margin-left: 30px;
	
}

.zmones3 .skaicius3 {
	width: 100%;
	height: 70%;
	text-align: center;
	margin:0;

}
.zmones3 .skaicius3 h3 {
	font-size: 130px;
	margin:0;
	color: white;
	text-shadow: 0 0 27px rgba(0, 0, 0, 0.14);
}

.zmones3 .gyvena3 {
	width: 100%;
	height: 30%;
	margin: 0;
	text-align: center;
}
.zmones3 .gyvena3 p {
	margin: 0;
	color: white;
	margin-top: 10px;
	text-shadow: 0 0 27px rgba(0, 0, 0, 0.14);
}
.zmones,
.zmones1,
.zmones2,
.zmones3{
	margin-top: 30px;
	float: left;
}

/*STRUKTURA-----------------------------------------------------------------------------------------------*/

.struktura {
	width: 100%;
	height: 100%;
	background-color: #525355;
	position: relative;
}

.struktura-fonas {

	width:100%;
	margin-left: 70px;

}

.struktura-fonas ul li a:hover{
	color: #38BAEE;

}
.struktura-fonas > ul {
	list-style-type: none;
	padding-top: 100px;
}
.struktura-fonas > ul > li {
	margin-top: 20px;
}
.struktura-fonas > ul > li > a {
	color: #c8c8c8;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.struktura-fonas > ul > li > a:hover {
	color: #38BAEE;
	
}
.list-1,
.list-2 {
	float: left;
}
.list-2{
	padding-left:80px;
}

.struktura-fonas .list-2 > li > a{
	color: #c8c8c8;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.struktura-fonas .list-3 li > a {
	color: #c8c8c8;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.list-2 .list-4 > li > a {
	color: #c8c8c8;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.list-2,
.list-5{
	float: left;
}

.list-5{
	padding-left: 80px;

}

.struktura-fonas .list-5 > ul > li > a{
	color: #c8c8c8;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.struktura-fonas .list-5 > ul > li > a:hover {
	color: #38BAEE;
}

/*TEISES--------------------------------------------------------------------------------------------------*/

.teises {
	width: 100%;
	height: 210px;
	background-color: #464646;
}
.teises-logo {
	width: 12%;
	padding-left: 100px;
	padding-top: 55px;
}
.teises-rekvizitai {
	width: 50%;
}
.teises-rekvizitai > ul {
	  list-style-type: none;
	  padding-top: 30px;
}
.teises-rekvizitai > ul > li {
	font-size: 15px;
	color: #c8c8c8;
	font-weight: bold;
}

.teises-logo,
.teises-teises,
.teises-rekvizitai{
	float: left;
}
.teises-teises {
	width: 38%;
	padding-top: 80px;
	padding-left: 200px;
}
.teises-teises > p {
	font-size: 15px;
	color: #c8c8c8;
	font-weight: bold;
}

/*Grizimas i virsu---------------------------------------------------------------------------------*/


	#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}


#facebook {
	cursor: pointer;
}
#youtube {
	cursor: pointer;
}

#pirmas-fonas,
#antras-fonas,
#trecias-fonas,
#ketvirtas-fonas{
	cursor: pointer;
}
/*Lygiavimai----------------------------------------------------------------------------------------------*/
@media all and (max-width: 1300px){
	
.teises {
		height: 300px;

	}
	.struktura {
		height: 1100px;
	}
	.artimiausi-renginiai{
		height: 950px;

	}
	.kalendorius{
		position: relative;
		width: 80%;
			    margin-left: 85px;
	}
	.kalendoriaus-sonas {
		margin-left: 12%;
		margin-top: 20px;
		width: 80%;
	}
	.reklama {
		display: none;
	}
	.struktura-fonas {
    width: 100%;	
    padding-left: 70px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
 	}
}



@media all and (max-width: 993px) {
	

	.pazinkime-klaipeda {
		height: 1200px;
	}

	.zmones {
		float: none;
		margin-left: 250px;
	}
	.zmones1 {
		float: none;
		margin-left: 250px;
	}
	.zmones2 {
		float: none;
		margin-left: 250px;
	}
	.zmones3 {
		float: none;
		margin-left: 250px;
	}
	.projektai {
		height: 1250px;
	}

	.pirmas-fonas {
		float: none;
		width: 100%;
		
	}
	.trecias-fonas {
		float: none;
		width: 100%;
		
	}
	.antras-fonas {
		float: none;
		width: 100%;
	}
	.ketvirtas-fonas {
		float: none;
		width: 100%;
	}
	.struktura {
		height: 1100px;
	}
	.reklama {
		display: none;
	}
	.artimiausi-renginiai{
		height: 950px;

	}
	.kalendorius{
		position: relative;
		width: 80%;
			    margin-left: 85px;
	}
	.kalendoriaus-sonas {
		margin-left: 12%;
		margin-top: 20px;
		width: 80%;
	}
	/*.struktura-fonas > ul {
 
    padding-right: 50px;
    }*/

    .struktura-fonas {
    width: 100%;	
    padding-left: 70px;
    display: flex;
    flex-wrap: wrap;
 	}
}



@media all and (max-width: 768px){
	/*PAGRINDINIS PAVEIKSLAS----------------------------------------------------------------*/
	.pagrindinis-paveikslas{
		width: 100%;
	}


	
	/*REKLAMA------------------------------------------------------------------------------*/
	.reklama {
		display: none;
	}
	/*PAZINKITE KLAIPEDA---------------------------------------------------------------------*/
	.pazinkime-klaipeda {
		height: 1200px;
	}

	.zmones {
		float: none;
		margin-left: 250px;
	}
	.zmones1 {
		float: none;
		margin-left: 250px;
	}
	.zmones2 {
		float: none;
		margin-left: 250px;
	}
	.zmones3 {
		float: none;
		margin-left: 250px;
	}
	/*STRUKTUROS APACIA-----------------------------------------------------------------------*/
	.list-1, .list-2 {
    float: none;
	}
	.list-2, .list-5 {
    float: none;
	}
	/*kalendorius pakeisti auksti--------------------------------------------------------------*/
	.artimiausi-renginiai{
		height: 950px;

	}
	.kalendorius{
		position: relative;
		width: 80%;
			    margin-left: 85px;
	}
	.kalendoriaus-sonas {
		margin-left: 12%;
		margin-top: 20px;
		width: 80%;
	}
	/*PROJEKTAI-----------------------------------------------------------------------------------*/
	.projektai {
		height: 1250px;
	}

	.pirmas-fonas {
		float: none;
		width: 100%;
		
		
	}
	.trecias-fonas {
		float: none;
		width: 100%;
		
	}
	.antras-fonas {
		float: none;
		width: 100%;
		
	
	}
	.ketvirtas-fonas {
		float: none;
		width: 100%;
		
	
	}
	/*STRUKTURA--------------------------------------------------------------------------------*/

	.struktura {
		height: 1300px;
	}

	.struktura-fonas > ul {
    padding-top: 20px;
    margin:0;
    margin-left: 120px;
	}
	.struktura-fonas {

	
	margin-left: 0;
    }

	/*TEISES----------------------------------------------------------------------------------*/

	.teises {
		height: 300px;
	}
	.teises-logo{
		padding-left: 70px;
	}
	.teises-rekvizitai {
		padding-left: 70px;
	}
	.teises-teises {
		padding-left: 80px;
	}

}







@media all and (max-width: 300px){
	
	.pagrindinis-paveikslas{
		width: 100%;
	}

	.gif{
		margin-top: 850px
	}
	.meniu1 {
		width: 100%;
	}

}